body {
  font-family: sans-serif;
  padding: 20px;
  max-width: 500px;
  margin: auto;
}

#result {
  margin-top: 20px;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 8px;
}

#scanner-container {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin-top: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
}

#scanner {
  width: 100%;
  height: auto;
  display: block;
}
